p= @post.title
p= @post.description
p= @post.user.name
= image_tag attachment_url(@post, :image, :fill, 300, 300, format: "jpg")

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_post_path(@post), class: "btn btn-default"
= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"