// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.welcome-wrapper {
  background-image: url('bg-acute-kitten-hello.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 95%;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.navbar {
  margin-bottom: 0px;
}

.post-wrapper {
  margin-top: 20px;
}

.post-list {
  margin-top: 20px;
}

.post-list li {
  list-style: none;
  background-color: lighten(grey, 47%);
  width: 45%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.post-list li img {
  width: 100%;
}